<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.androidbootcamp.caseproject5_2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/txtTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeaweedActivity"
            android:label="@string/txtSeaweed" >
        </activity>
        <activity
            android:name=".SalmonActivity"
            android:label="@string/txtSalmon" >
        </activity>
        <activity
            android:name=".SashimiActivity"
            android:label="@string/txtSashimi" >
        </activity>
    </application>

</manifest>
